@import '../shared/variables.scss';


// HOWL PAGE

.howl {
  width: 100%;

  .howl_container {
    height: 100%;
    margin: 0 42px;
    display: flex;
    justify-content: center;
    align-items: center;

    .howl_container-top {
      width: 100%;
      height: 360px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .howl_title-img {
        height: 120px;
      }
    }
  }

  .howl_background-container {
    width: 100%;
    height: 442px;
    background-image: url("../../assets/CS_howl/Rectangle@3x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .howl_wireframe-competitive-analysis-container {
    height: 100%;
    margin: 0 42px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .howl_wireframe-img {
      width: 100%;
    }

    .howl_wireframe-text {
      margin-bottom: 36px;
      width: 100%;
      font-family: $jost;
      font-size: 14px;
      color: $cream;
      opacity: 75%;
    }
  }

  .howl_design-container {
    margin: 0 42px;

    .howl_design_logo-iterations-container {
      width: 100%;
      height: 375px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .howl_design_logo-iterations-img {
        height: 100%;
      }
    }
    .howl_logo-iteration-text {
      margin-bottom: 36px;
      width: 100%;
      font-family: $jost;
      font-size: 14px;
      color: $cream;
      opacity: 75%;
    }

    .howl_logo-final-container {
      width: 100%;
      margin-bottom: 68px;
      display: flex;
      justify-content: center;

      .howl_logo-final-inner-container {
        width: 580px;

        .howl_logo-final-inner-img {
          width: 100%;
          margin-top: 24px;
        }
      }
    }

    .howl_design_mood-boards-container {
      width: 100%;
      margin-bottom: 68px;
      height: 205px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
      .howl_design_mood-board-img {
        height: 100%;
      }
    }

    .howl_design_style-tiles-container {
      width: 100%;
      margin-bottom: 68px;
      height: 163px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .howl_design_style-tiles-img {
        height: 100%;
      }
    }

    .howl_design_high-fidelity-container {
      width: 100%;
      height: 569px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .howl_design_high-fidelity-img {
        height: 100%;
      }
    }
    .howl_design_high-fidelity-text {
      margin-bottom: 36px;
      width: 100%;
      font-family: $jost;
      font-size: 14px;
      color: $cream;
      opacity: 75%;
    }
  }

  .howl_final-mockups-container {
    height: 695px;
    width: 100%;
    margin-bottom: 68px;
    position: relative;

    .howl_final-mockups_background-lines {
      width: 100%;
    }

    .howl_final-mockups_desktop {
      z-index: 1;
      position: absolute;
      width: 695px;
      top: 55px;
      right: 96px;
    }

    .howl_final-mockups_phone1{
      z-index: 3;
      position: absolute;
      width: 195px;
      bottom: 36px;
      left: 59px;
    }
    .howl_final-mockups_phone2{
      z-index: 2;
      position: absolute;
      width: 195px;
      bottom: 36px;
      left: 182px;
    }
    .how_final-mockups_text {
      position: absolute;
      width: 350px;
      bottom: 6px;
      left: 74px;
      font-family: $jost;
      font-size: 14px;
      color: $cream;
      opacity: 75%;
    }
  }

  .howl_design-systems-container {
    margin: 0 42px 68px;

    .howl_design-systems_colors-container {
      width: 100%;
      margin: 0 0 68px;
      display: flex;
      justify-content: center;

      .howl_design-systems_colors-img {
        width: 609px;
      }
    }
  }

  .howl_design_prototype-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cs-bottom-navigation {
    margin: 62px 42px 0;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 978px){
  .howl {
    .howl_competitive-analysis {
    }
    .howl_design-container {
      margin-bottom: 62px;
      .howl_design-affinity-mapping-container {

        .howl_design-affinity-mapping-img {
        }
      }
  
      .howl_design_mood-boards-container {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-bottom: 36px;

        .howl_design_mood-board-img {
          height: inherit;
          width: 80%;
          margin: 12px 0;
        }
      }
      .howl_design_style-tiles-container {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-bottom: 36px;

        .howl_design_style-tiles-img {
          height: inherit;
          width: 80%;
          margin: 12px 0;
        }
      }
  
      .howl_design_high-fidelity-container {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-bottom: 36px;
  
        .howl_design_high-fidelity-img {
          height: inherit;
          width: 80%;
          margin: 12px 0;
        }
      }
    
      .howl_design_logo-iterations-container {
        flex-direction: column;
        align-items: center;
        height: auto;
        .howl_design_logo-iterations-img {
          width: 50%;
          margin: 12px 0;
        }
      }
    }
    .howl_design-systems-container {
      .howl_design-systems_colors-container {
        flex-direction: column;
        align-items: center;
        height: auto;
  
        .howl_design-systems_colors-img {
          width: 60%;
          margin: 12px 0;
        }
      }
    }
    
    .howl_final-mockups-container {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .howl_final-mockups_background-lines {
        display: none;
      }
  
      .howl_final-mockups_desktop {
        position: static;
        width: 80%;
      }
  
      .howl_final-mockups_phone1{
        display: none;
      }
      .howl_final-mockups_phone2{
        display: none
      }
      .how_final-mockups_text {
        position: static;
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .howl {
    .howl_competitive-analysis {
      height: 400px;
    }
  }
}

