.digiline {
  width: 100%;
}

.digiline .digiline_container {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.digiline .digiline_container .digiline_container-top {
  width: 100%;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.digiline .digiline_container .digiline_container-top .digiline_title-img {
  width: 60%;
}

.digiline .digiline_desktops-container {
  width: 100%;
  height: 442px;
  position: relative;
  background-color: #2e383f;
}

.digiline .digiline_desktops-container .digiline_desktops-container_background-boxes-1 {
  width: 225px;
  position: absolute;
  z-index: 1;
  top: 12px;
}

.digiline .digiline_desktops-container .digiline_desktops-container_background-boxes-2 {
  width: 225px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 12px;
}

.digiline .digiline_desktops-container .digiline_desktops-inner-container {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.digiline .digiline_desktops-container .digiline_desktops-inner-container .digiline_desktops-container_laptop {
  width: 560px;
  position: absolute;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 48px;
}

.digiline .digiline_desktops-container .digiline_desktops-inner-container .digiline_desktops-inner-container_desktops {
  height: 240px;
  z-index: 2;
}

.digiline .digiline_competitive-analysis {
  width: 100%;
  height: 442px;
  background-color: #efe4d8;
}

.digiline .digiline_competitive-analysis .digiline_competitive-analysis_inner-container {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.digiline .digiline_competitive-analysis .digiline_competitive-analysis_inner-container .digiline_competitive-analysis_inner-container-text {
  margin: 0;
  position: absolute;
  font-family: "Jost", sans-serif;
  color: #1b262f;
  font-size: 14px;
  bottom: 8px;
  left: 0px;
}

.digiline .digiline_competitive-analysis .digiline_competitive-analysis_inner-container .digiline_competitive-analysis_inner-container_background-img {
  padding-top: 68px;
  width: 460px;
}

.digiline .digiline_competitive-analysis .digiline_competitive-analysis_inner-container .digiline_competitive-analysis_inner-container_front-img {
  width: 460px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 56px;
}

.digiline .digiline_design {
  width: 100%;
  height: 3900px;
  background-color: #1b262f;
}

.digiline .digiline_design .digiline_design-container {
  margin: 78px 42px 0;
}

.digiline .digiline_design .digiline_design-container .digiline_design_mood-board-container {
  height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.digiline .digiline_design .digiline_design-container .digiline_design_mood-board-container .digiline_design_mood-board-img {
  height: 320px;
}

.digiline .digiline_design .digiline_design-container .digiline_design_style-tile-container {
  height: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.digiline .digiline_design .digiline_design-container .digiline_design_style-tile-container .digiline_design_style-tile-img {
  height: 267px;
}

.digiline .digiline_design .digiline_design-container .digiline_design_high-fidelity-top-container {
  height: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.digiline .digiline_design .digiline_design-container .digiline_design_high-fidelity-top-container .digiline_design_high-fidelity-top-img {
  width: 254px;
}

.digiline .digiline_design .digiline_design-container .digiline_design_high-fidelity-top-container .digiline_design_high-fidelity-top-arrow {
  width: 35px;
}

.digiline .digiline_design .digiline_design-container .digiline_design_high-fidelity-top-container .digiline_design_high-fidelity-top-text {
  position: absolute;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  color: #efe4d8;
  margin: 0;
  bottom: 0;
  left: 0;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-container {
  width: 100%;
  margin: 24px 0 72px;
  height: 570px;
  position: relative;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-container .digiline_design_high-fidelity-bottom {
  height: 100%;
  margin: 0 42px;
  width: calc(100% - 84px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-container .digiline_design_high-fidelity-bottom .digiline_design_high-fidelity-bottom-left .digiline_design_high-fidelity-bottom-left-logo {
  padding-top: 102px;
  width: 312px;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-container .digiline_design_high-fidelity-bottom .digiline_design_high-fidelity-bottom-right {
  width: calc(100% - 312px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-container .digiline_design_high-fidelity-bottom .digiline_design_high-fidelity-bottom-right .digiline_design_high-fidelity-bottom-right-desktop {
  width: 572px;
  z-index: 5;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-container .digiline_design_high-fidelity-bottom .digiline_design_high-fidelity-bottom-laptop {
  position: absolute;
  width: 541px;
  bottom: 0;
  left: 51px;
  z-index: 6;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-container .digiline_design_high-fidelity-bottom-container_background {
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-mobile-container {
  display: none;
  width: 100%;
  margin: 24px 0 72px;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-mobile-container .digiline_design_high-fidelity-bottom-mobile {
  height: 100%;
  margin: 0 42px;
  width: calc(100% - 84px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-mobile-container .digiline_design_high-fidelity-bottom-mobile .digiline_design_high-fidelity-bottom-mobile-top .digiline_design_high-fidelity-bottom-mobile-top-logo {
  padding-top: 102px;
  width: 312px;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-mobile-container .digiline_design_high-fidelity-bottom-mobile .digiline_design_high-fidelity-bottom-mobile-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px 0;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-mobile-container .digiline_design_high-fidelity-bottom-mobile .digiline_design_high-fidelity-bottom-mobile-middle .digiline_design_high-fidelity-bottom-mobile-middle-desktop {
  width: 70%;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-mobile-container .digiline_design_high-fidelity-bottom-mobile .digiline_design_high-fidelity-bottom-mobile-middle-laptop {
  width: 90%;
  margin: auto;
}

.digiline .digiline_design .digiline_design-systems {
  margin: 0 42px;
}

.digiline .digiline_design .digiline_design-systems .digiline_design-systems_example-container {
  height: 331px;
  width: 100%;
  margin: 0 0 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.digiline .digiline_design .digiline_design-systems .digiline_design-systems_example-container .digiline_design-systems_example-img {
  width: 428px;
}

.digiline .digiline_design .digiline_design-systems .digiline_design_prototype-button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.digiline .digiline_design .cs-bottom-navigation {
  margin: 62px 42px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 978px) {
  .digiline .digiline_design {
    height: auto;
  }
  .digiline .digiline_design .digiline_design-container .digiline_design_mood-board-container .digiline_design_mood-board-img {
    height: 250px;
    margin-bottom: 24px;
  }
  .digiline .digiline_design .digiline_design-container .digiline_design_style-tile-container .digiline_design_style-tile-img {
    height: 210px;
  }
  .digiline .digiline_design .digiline_design-container .digiline_design_high-fidelity-top-container {
    height: 300px;
  }
  .digiline .digiline_design .digiline_design-container .digiline_design_high-fidelity-top-container .digiline_design_high-fidelity-top-img {
    width: 200px;
  }
  .digiline .digiline_design .digiline_design-container .digiline_design_high-fidelity-top-container .digiline_design_high-fidelity-top-arrow {
    width: 24px;
  }
  .digiline .digiline_design .digiline_design_high-fidelity-bottom-container {
    display: none;
  }
  .digiline .digiline_design .digiline_design_high-fidelity-bottom-mobile-container {
    display: block;
  }
  .digiline .digiline_design .digiline_design-systems {
    height: auto;
  }
  .digiline .digiline_design .digiline_design-systems .digiline_design-systems_example-container {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .digiline .digiline_design .digiline_design-systems .digiline_design-systems_example-container .digiline_design-systems_example-img {
    width: 80%;
    margin: 24px 0;
  }
  .digiline .digiline_design .cs-bottom-navigation {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .digiline .digiline_container {
    margin: 0 24px;
  }
  .digiline .digiline_container .digiline_container-top .digiline_title-img {
    width: 90%;
  }
  .digiline .digiline_desktops-container .digiline_desktops-inner-container {
    margin: 0 24px;
    position: static;
  }
  .digiline .digiline_desktops-container .digiline_desktops-inner-container .digiline_desktops-container_laptop {
    position: static;
    width: 100%;
  }
  .digiline .digiline_desktops-container .digiline_desktops-inner-container .digiline_desktops-inner-container_desktops {
    display: none;
  }
  .digiline .digiline_competitive-analysis .digiline_competitive-analysis_inner-container {
    margin: 0 24px;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .digiline .digiline_competitive-analysis .digiline_competitive-analysis_inner-container .digiline_competitive-analysis_inner-container_background-img {
    display: none;
  }
  .digiline .digiline_competitive-analysis .digiline_competitive-analysis_inner-container .digiline_competitive-analysis_inner-container_front-img {
    position: static;
    width: 100%;
  }
  .digiline .digiline_design .digiline_design-container .digiline_design_mood-board-container {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .digiline .digiline_design .digiline_design-container .digiline_design_mood-board-container .digiline_design_mood-board-img {
    width: 70%;
    height: auto;
  }
  .digiline .digiline_design .digiline_design-container .digiline_design_style-tile-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .digiline .digiline_design .digiline_design-container .digiline_design_style-tile-container .digiline_design_style-tile-img {
    margin: 24px 0;
    width: 100%;
    height: auto;
  }
  .digiline .digiline_design .digiline_design-container .digiline_design_high-fidelity-top-container {
    height: 100%;
    padding-bottom: 48px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .digiline .digiline_design .digiline_design-container .digiline_design_high-fidelity-top-container .digiline_design_high-fidelity-top-img {
    height: auto;
    width: 90%;
  }
  .digiline .digiline_design .digiline_design-container .digiline_design_high-fidelity-top-container .digiline_design_high-fidelity-top-arrow {
    margin: 24px 0;
    height: 35px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .digiline .digiline_design .digiline_design_high-fidelity-bottom-mobile-container .digiline_design_high-fidelity-bottom-mobile .digiline_design_high-fidelity-bottom-mobile-top .digiline_design_high-fidelity-bottom-mobile-top-logo {
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */