@import './variables.scss';

// GLOBAL

html {
  overflow-x: hidden;
}
body {
  margin: 0px;
  display: flex;
  justify-content: center;
  background-color: $darkBlue;
  overflow-x: hidden;

  .page-container {
    width: 100%;
    max-width: 1024px;
  }
}

header {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $darkBlue;


  .name-logo {
    padding: 12px 0;
    margin-left: 42px;
    width: calc(35% - 42px);
    display: flex;
    flex-direction: row;

    .logo {
      height: 50px;
      width: auto;
      padding-right: 12px;
    }

    .name {
      letter-spacing: 1px;
      font-family: $bebasNeue;
      color: $cream;
    }
  }

  .navigation {
    padding: 12px 0;
    margin-right: 42px;
    width: calc(65% - 42px);
    display: flex;
    flex-direction: row;

    .nav-link-container {
      width: calc(100% / 3);
      text-align: center;

      .nav-link {
        text-decoration: none;

        .nav-link-text {
          text-align: right;
          letter-spacing: 1px;
          font-family: $bebasNeue;
          color: $cream;
          cursor: pointer;
        }
  
        .nav-link-text:hover {
          opacity: 50%;
        }
      }
    }
  }

  // MOBILE HAMBURGER MENU
  .mobile-nav__hamburger-nav {
    display: none;
    z-index: 10000;
  }

  #menuToggle {
    display: block;
    position: absolute;
    top: 32px;
    right: 32px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    top: -10px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  /*
  * Just a quick hamburger
  */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: $cream;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
  }

  /*
  * But let's hide the middle one.
  */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
  * Ohyeah and the last one should go the other direction
  */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
  * Make this absolute positioned
  * at the top left of the screen
  */
  #menu {
    position: fixed;
    width: 80vw;
    height: 100vh;
    margin: -100px 0 0 0;
    padding: 40px;
    padding-top: 125px;
    right: -100px;
    background: $greyBlue;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

    a {
      text-decoration: none;
    }
  }

  #menu li {
    padding: 30px 0 0 0;
    font-size: 40px;
    font-family: $bebasNeue;
    color: $cream;
  }

  /*
  * And let's fade it in from the left
  */
  #menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
  }
}

// MOBILE HEADER
@media screen and (max-width: 768px){

  header {
    .name-logo {
      width: 100%;
      margin-left: 32px;
    }

    .navigation {
      display: none;
    }

    .mobile-nav__hamburger-nav {
      display: block;
    }
  }
}






//common cs title-text component
.common-container {
  width: 100%;
  text-align: left;
  margin-bottom: 56px;

  .common-container_title-text {
    margin: 24px 0;
    font-family: $bebasNeue;
    font-size: 36px;
    color: $cream;
  }

  .common-container_paragraph-text {
    margin: 0 0 0 48px;
    font-family: $jost;
    font-size: 18px;
    color: $cream;
  }
}

.common-summary-container {
  height: 740px;
  margin: 0 42px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .common-summary-container_title-container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .common-summary-container_title-text {
      font-family: $bebasNeue;
      font-size: 36px;
      color: $cream;
      margin: 0;
      text-align: center;
    }
  }
  .common-summary-container_line {
    width: 80%;
    margin: 0 auto;
    opacity: 75%;
  }

  .common-summary-container_tool-date-team-container {
    width: 95%;
    margin: 48px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .common-summary-container_tdt-container {
      width: 100px;
      height: 100%;
      text-align: left;

      .common-summary-container_tdt-title {
        font-family: $bebasNeue;
        font-size: 16px;
        color: $cream;
        margin: 0 0 12px;
      }

      .common-summary-container_tdt-text {
        font-family: $jost;
        font-size: 14px;
        color: $cream;
        margin: 0;
        opacity: 75%;
      }
    }
  }
}

@media screen and (max-width: 768px){

  .common-container {


    .common-container_title-text {

    }

    .common-container_paragraph-text {
      margin: 0 0 0 24px;
    }
  }

  .common-summary-container {
    height: 100%;
    margin: 24px 24px;

    .common-summary-container_title-container {
      height: 100%;

      .common-summary-container_title-text {
  
      }
    }
    .common-summary-container_line {

    }

    .common-summary-container_tool-date-team-container {
      align-items: flex-start;

      .common-summary-container_tdt-container {


        .common-summary-container_tdt-title {

        }

        .common-summary-container_tdt-text {

        }
      }
    }
  }
}


.custom-button {
  height: 36px;
  width: 128px;
  border: 2px solid $cream;
  border-radius: 18px;
  color: $cream;
  background-color: rgba($cream, 0);
  font-family: $bebasNeue;
  font-size: 14px;
  line-height: 1;
  position: relative;
  cursor: pointer;

  .custom-button-text {
    display: block;
    margin-top: 4px;
  }
  .custom-button-right-arrow {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 14px solid $cream;
    border-bottom: 7px solid transparent;
    position: absolute;
    right: 10px;
    top: 9px;
  }
  .custom-button-left-arrow {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 14px solid $cream;
    border-bottom: 7px solid transparent;
    position: absolute;
    transform: rotate(180deg);
    left: 10px;
    top: 9px;
  }
}

.custom-button:hover {
  background-color: rgba($cream, 1);
  color: $darkBlue;

  div {
    border-top: 7px solid transparent;
    border-left: 14px solid $darkBlue;
    border-bottom: 7px solid transparent;
  }
}

.custom-button:focus {
  outline: none;
}


/// NO HOVER, STATIC BUTTON

.custom-button2 {
  height: 36px;
  width: 128px;
  border: 2px solid $cream;
  border-radius: 18px;
  color: $cream;
  background-color: rgba($cream, 0);
  font-family: $bebasNeue;
  font-size: 14px;
  line-height: 1;
  position: relative;

  .custom-button2-text {
    display: block;
    margin-top: 4px;
  }
}

.custom-button2:focus {
  outline: none;
}

// HELPERS

.background-greyBlue {
  background-color: $greyBlue
}

.background-darkBlue {
  background-color: $darkBlue
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.align-items-flex-end {
  align-items: flex-end
}

.align-self-center {
  align-self: center;
}

.margin-top-bottom {
  margin: 36px 0;
}

.height-24px {
  height: 24px;
  opacity: 75%;
}

.no-text-decoration {
  text-decoration: none;
}

.opacity-75 {
  opacity: 75%;
}

.width-170 {
  width: 170px !important;
}

// Triangle Animations 

.triangle-right {
  transform: rotate(90deg);
  position: absolute;
  width: 20px;
  height: 20px;
  top: -70px;
  right: 22px;
}

.triangle-left {
  transform: rotate(90deg);
  position: absolute;
  width: 20px;
  height: 20px;
  top: -70px;
  left: 22px;
}

.t1 {
  -webkit-animation:
    drop1 0.7s ease 1 normal forwards;
  animation: 
    drop1 0.7s ease 1 normal forwards;
}
.t2 {
  -webkit-animation:
    drop1 0.7s ease 1 normal forwards;
  animation: 
    drop2 0.7s ease 1 normal forwards;
}
.t3 {
  -webkit-animation:
    drop1 0.7s ease 1 normal forwards;
  animation: 
    drop3 0.7s ease 1 normal forwards;
}

@keyframes drop1 {
  0% {transform: rotate(90deg) translate(0, 0);}  
  100% { transform: rotate(90deg) translate(40px, 0);}
}
@keyframes drop2 {
  0% {transform: rotate(90deg) translate(0, 0);}  
  100% { transform: rotate(90deg) translate(80px, 0);}
}
@keyframes drop3 {
  0% {transform: rotate(90deg) translate(0, 0);}  
  100% { transform: rotate(90deg) translate(120px, 0);}
}

// MOBILE TRIANGLES 
@media screen and (max-width: 768px){
  .triangle-right {
    right: 8px;
  }
  .triangle-left{
    left: 8px;
  }
}





// HOME PAGE

.home_about-me {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
  background-image: url("../../assets/homePageCaseStudy/BackgroundImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .home_about-me_container {
    width: 100%;
    margin: 42px 42px 0;
    display: flex;
    flex-direction: column;

    .home_about-me_top-container {
      width: 100%;
      height: 500px;
      display: flex;
      flex-direction: row;

      .home_about-me_left-container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    
        .home_about-me_left-container_title {
          font-family: $archivoBlack;
          letter-spacing: 1px;
          font-size: 44px;
          color: $cream;
        }
  
        .home_about-me_left-container_divider {
          margin: 0;
          width: 50%;
          border-top: 2px solid $cream;
        }
    
        .home_about-me_left-container_text {
          font-family: $jost;
          font-size: 18px;
          margin: 40px 0;
          color: $cream;
          opacity: 75%;
        }
  
        .home_about-me_left-container_social-container {
          width: 66%;
          height: 32px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
  
          .home_about-me_left-container_social-icons {
            height: 24px;
            width: 24px;
          }

          .home_about-me_left-container_social-icons:hover {
            opacity: 50%;
          }
  
          .home_about-me_left-container_social-icons_email {
            height: 24px;
            width: 28px;
          }

          .home_about-me_left-container_social-icons_email:hover {
            opacity: 50%;
          }
        }
      }
    
      .home_about-me_right-container {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        position: relative;
        
        .home_about-me_right_portrait-frame {
          position: absolute;
          width: 90%;
          height: 100%;
          right: 20px;
          bottom: -20px;
          background-color: $greyBlue;
        }
  
        .home_about-me_right_portrait {
          background-image: url('../../assets/homePageCaseStudy/me.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 100%;
          width: 90%;
          z-index: 1000;
        }
      }
    }

    .home_about-me_bottom-container {
      width: 95%;
      margin-top: 60px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .home_about-me_bottom-container_title {
        font-family: $archivoBlack;
        letter-spacing: 1px;
        font-size: 40px;
        margin-top: 0;
        color: $cream;
      }

      .home_about-me_bottom-container_text {
        margin: 0;
        font-family: $jost;
        font-size: 18px;
        color: $cream;
        opacity: 75%;
      }
    }

    .home_about-me_bottom_continue-reading-container {
      width: 100%;
      height: 32px;
      display: flex;
      justify-content: flex-end;

      .home_about-me_bottom_continue-reading-text {
        width: 140px;
        margin: 12px 12px 0 0;
        font-family: $jost;
        font-size: 18px;
        color: $cream;
        opacity: 75%;
        text-decoration: underline;
      }

      .home_about-me_bottom_continue-reading-text:hover {
        opacity: 50%;
      }
    }
  }
}

// mobile HOME PAGE
@media screen and (max-width: 768px){
  .home_about-me {
    height: 700px;
    .home_about-me_container {
      margin: 24px 24px 0;

      .home_about-me_top-container {
        flex-direction: column;
        align-items: center;

        .home_about-me_left-container {
          width: 80%;
          align-items: center;

          .home_about-me_left-container_title {
            text-align: center;
          }
          .home_about-me_left-container_divider {
            margin: 0 auto;
          }
          .home_about-me_left-container_text {

          }
          .home_about-me_left-container_social-container {
            width: 80%;

            a:last-child {
              display: none;
            }
          }
        }
        .home_about-me_right-container {
          display: none;
        }
      }

      .home_about-me_bottom-container {
        display: none;
      }
    }
  }
}




// CASE STUDY GLOBAL STYLES

.case-study {
  height: 442px;
  width: 100%;
  position: relative;
  // relative for triangles

  .case-study_container {
    height: 100%;
    margin: 0 42px;
    display: flex;
    flex-direction: row;
    position: relative;


    // Background img specs
    .case-study_container-digiline-background {
      width: 62%;
      z-index: 1;
      position: absolute;
      bottom: 24px;
      left: 15%;
    }

    .case-study_container-howl-background {
      background-image: url('../../assets/homePageCaseStudy/home&casestudypage@3x.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
      width: calc(100% + 84px);
      height: 100%;
      position: absolute;
      z-index: 1;
      left: -42px;
    }

    .case-study_container-goodapples-background {
      width: 20%;
      position: absolute;
      z-index: 1;
      bottom: 89px;
      left: 365px;
    }
    // end background img specs

    .case-study_container-1 {
      width: 40%;
      margin: 36px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 1000;

      .case-study_container-1_title {
        width: 50%;
      }

      .case-study_container-1_description-container {
        width: 100%;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .case-study_container-1_ui-designer {
          font-family: $bebasNeue;
          font-size: 14px;
          letter-spacing: 1px;
          margin: 0;
          color: $cream;
          opacity: 55%;
        }

        .case-study_container-1_header {
          font-family: $archivoBlack;
          letter-spacing: 1px;
          font-size: 30px;
          margin: 18px 0;
          color: $cream;
        }

        .case-study_container-1_description {
          font-family: $jost;
          font-size: 14px;
          margin: 0;
          color: $cream;
        }
      }
    }

    .case-study_container-2 {
      width: 60%;
      margin: 36px 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      z-index: 1000;

      .case-study_container-2_img {
        width: 95%;
      }
    }
  }
}

// mobile CASE STUDIES
@media screen and (max-width: 768px){
  .case-study {
    .case-study_container {
      .case-study_container-goodapples-background {
        height: 30%;
        width: auto;
        left: auto;
        right: 0;
        bottom: 20%;
      }
      .case-study_container-digiline-background {
        width: 90%;
      }

      .case-study_container-1 {
        width: 80%;
      }
      .case-study_container-2 {
        width: 20%;
        .case-study_container-2_img {
          display: none;
        }
      }
    }
  }
}




// EMAIL FORM

.email-form {
  width: 100%;
  height: 514px;
  background-color: $darkBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // relative for triangle animation

  .email-form_container {
    width: 100%;
    height: calc(100% - 64px);
    margin: 32px 42px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .email-form_container-title {
      font-family: $archivoBlack;
      letter-spacing: 1px;
      font-size: 30px;
      color: $cream;
      margin: 0;
    }
    .email-form_container-text {
      font-family: $jost;
      font-size: 18px;
      color: $cream;
      margin: 12px 0;
    }
    .email-form_form {
      margin: 30px 0 0;
      width: 80%;
      height: 330px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .email-form_form-container {
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .email-form_input {
          height: 35px;
          padding: 0 12px;
          border-radius: 6px;
          font-family: $jost;
          font-size: 16px;
          color: rgba($darkBlue, 0.5);
          background-color: $cream;
        }
  
        .email-form_message-input {
          height: 90px;
          padding: 12px 12px;
          border-radius: 6px;
          font-family: $jost;
          font-size: 16px;
          resize: none;
          color: rgba($darkBlue, 0.5);
          background-color: $cream;
        }
      }
    }
  }
}


// mobile EMAIL FORM
@media screen and (max-width: 600px){
  .email-form {
    .email-form_container {
      .email-form_container-title {
        font-size: 24px;
      }
    }
  }
}

// FOOTER

footer {
  width: 100%;
  height: 150px;
  background-color: $cream;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer_container {
    height: 28px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      text-decoration: none;
    }

    .footer_text {
      margin: 0;
      width: auto;
      font-family: $jost;
      font-size: 16px;
      color: $darkBlue;
    }

    .footer_links {
      margin: 0;
      width: auto;
      font-family: $jost;
      font-size: 16px;
      color: $darkBlue;
    }

    .footer_resume-link {
      margin: 0;
      width: auto;
      font-family: $jost;
      font-size: 16px;
      color: $darkBlue;
      text-decoration: underline;
    }

    .footer_links:hover,
    .footer_resume-link:hover {
      opacity: 75%;
    }

    .footer_dot-container {
      width: 35px;
      height: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      
      .footer_dot {
        background-color: $darkBlue;
        width: 5px;
        height: 5px;
        border-radius: 2.5px;
        border: none;
      }
    }
  }
}


// MOBILE FOOTER
@media screen and (max-width: 768px){
  footer {
    display: none;
  }
}

// Shared CS

.cs-general {
  width: 100%;
  height: 442px;

  .cs-general_container {
    height: 100%;
    margin: 0 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cs-general_container-top {
      width: 100%;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .cs-general_title-img {
        width: 90%;
      }
      .cs-general_title-img-small {
        width: 70%;
      }
    }

    .cs-general_container-bottom {
      .cs-general_text-container {
        width: 63%;

        .cs-general_text {
          font-family: $jost;
          font-size: 18px;
          margin: 24px 0 0 0;
          color: $cream;
          opacity: 75%;
        }
      }
    }
  }
}

// MOBILE CASE STUDIES PAGE
@media screen and (max-width: 768px){
  .cs-general {
    height: 300px;
    .cs-general_container {
      margin: 0 24px;
      .cs-general_container-bottom {
        display: none;
      }
    }
  }
}