body {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1b262f;
  overflow-x: hidden;
}

body .page-container {
  width: 100vw;
  max-width: 1024px;
}

header {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #1b262f;
  /*
  * Just a quick hamburger
  */
  /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
  /*
  * But let's hide the middle one.
  */
  /*
  * Ohyeah and the last one should go the other direction
  */
  /*
  * Make this absolute positioned
  * at the top left of the screen
  */
  /*
  * And let's fade it in from the left
  */
}

header .name-logo {
  padding: 12px 0;
  margin-left: 42px;
  width: calc(35% - 42px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .name-logo .logo {
  height: 50px;
  width: auto;
  padding-right: 12px;
}

header .name-logo .name {
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  color: #efe4d8;
}

header .navigation {
  padding: 12px 0;
  margin-right: 42px;
  width: calc(65% - 42px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .navigation .nav-link-container {
  width: calc(100% / 3);
  text-align: center;
}

header .navigation .nav-link-container .nav-link {
  text-decoration: none;
}

header .navigation .nav-link-container .nav-link .nav-link-text {
  text-align: right;
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  color: #efe4d8;
  cursor: pointer;
}

header .navigation .nav-link-container .nav-link .nav-link-text:hover {
  opacity: 50%;
}

header .mobile-nav__hamburger-nav {
  display: none;
  z-index: 10000;
}

header #menuToggle {
  display: block;
  position: absolute;
  top: 32px;
  right: 32px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

header #menuToggle input {
  display: block;
  width: 45px;
  height: 45px;
  position: absolute;
  top: -10px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

header #menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #efe4d8;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

header #menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

header #menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

header #menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
}

header #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

header #menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

header #menu {
  position: absolute;
  width: 60vw;
  height: 100vh;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #2e383f;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

header #menu a {
  text-decoration: none;
}

header #menu li {
  padding: 30px 0 0 0;
  font-size: 60px;
  font-family: "Bebas Neue", cursive;
  color: #efe4d8;
}

header #menuToggle input:checked ~ ul {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  header .name-logo {
    width: 100%;
    margin-left: 32px;
  }
  header .navigation {
    display: none;
  }
  header .mobile-nav__hamburger-nav {
    display: block;
  }
}

.common-container {
  width: 100%;
  text-align: left;
  margin-bottom: 56px;
}

.common-container .common-container_title-text {
  margin: 24px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 36px;
  color: #efe4d8;
}

.common-container .common-container_paragraph-text {
  margin: 0 0 0 48px;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  color: #efe4d8;
}

.common-summary-container {
  height: 740px;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.common-summary-container .common-summary-container_title-container {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.common-summary-container .common-summary-container_title-container .common-summary-container_title-text {
  font-family: "Bebas Neue", cursive;
  font-size: 36px;
  color: #efe4d8;
  margin: 0;
}

.common-summary-container .common-summary-container_line {
  width: 80%;
  margin: 0 auto;
  opacity: 75%;
}

.common-summary-container .common-summary-container_tool-date-team-container {
  width: 95%;
  margin: 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.common-summary-container .common-summary-container_tool-date-team-container .common-summary-container_tdt-container {
  width: 100px;
  height: 100%;
  text-align: left;
}

.common-summary-container .common-summary-container_tool-date-team-container .common-summary-container_tdt-container .common-summary-container_tdt-title {
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  color: #efe4d8;
  margin: 0 0 12px;
}

.common-summary-container .common-summary-container_tool-date-team-container .common-summary-container_tdt-container .common-summary-container_tdt-text {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  color: #efe4d8;
  margin: 0;
  opacity: 75%;
}

.custom-button {
  height: 36px;
  width: 128px;
  border: 2px solid #efe4d8;
  border-radius: 18px;
  color: #efe4d8;
  background-color: rgba(239, 228, 216, 0);
  font-family: "Bebas Neue", cursive;
  font-size: 14px;
  line-height: 1;
  position: relative;
  cursor: pointer;
}

.custom-button .custom-button-text {
  display: block;
  margin-top: 4px;
}

.custom-button .custom-button-right-arrow {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 14px solid #efe4d8;
  border-bottom: 7px solid transparent;
  position: absolute;
  right: 10px;
  top: 9px;
}

.custom-button .custom-button-left-arrow {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 14px solid #efe4d8;
  border-bottom: 7px solid transparent;
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 10px;
  top: 9px;
}

.custom-button:hover {
  background-color: #efe4d8;
  color: #1b262f;
}

.custom-button:hover div {
  border-top: 7px solid transparent;
  border-left: 14px solid #1b262f;
  border-bottom: 7px solid transparent;
}

.custom-button:focus {
  outline: none;
}

.custom-button2 {
  height: 36px;
  width: 128px;
  border: 2px solid #efe4d8;
  border-radius: 18px;
  color: #efe4d8;
  background-color: rgba(239, 228, 216, 0);
  font-family: "Bebas Neue", cursive;
  font-size: 14px;
  line-height: 1;
  position: relative;
}

.custom-button2 .custom-button2-text {
  display: block;
  margin-top: 4px;
}

.custom-button2:focus {
  outline: none;
}

.background-greyBlue {
  background-color: #2e383f;
}

.background-darkBlue {
  background-color: #1b262f;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.align-items-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.margin-top-bottom {
  margin: 36px 0;
}

.height-24px {
  height: 24px;
  opacity: 75%;
}

.no-text-decoration {
  text-decoration: none;
}

.opacity-75 {
  opacity: 75%;
}

.width-170 {
  width: 170px !important;
}

.triangle-right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  width: 20px;
  height: 20px;
  top: -70px;
  right: 22px;
}

.triangle-left {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  width: 20px;
  height: 20px;
  top: -70px;
  left: 22px;
}

.t1 {
  -webkit-animation: drop1 0.7s ease 1 normal forwards;
  animation: drop1 0.7s ease 1 normal forwards;
}

.t2 {
  -webkit-animation: drop1 0.7s ease 1 normal forwards;
  animation: drop2 0.7s ease 1 normal forwards;
}

.t3 {
  -webkit-animation: drop1 0.7s ease 1 normal forwards;
  animation: drop3 0.7s ease 1 normal forwards;
}

@-webkit-keyframes drop1 {
  0% {
    -webkit-transform: rotate(90deg) translate(0, 0);
            transform: rotate(90deg) translate(0, 0);
  }
  100% {
    -webkit-transform: rotate(90deg) translate(40px, 0);
            transform: rotate(90deg) translate(40px, 0);
  }
}

@keyframes drop1 {
  0% {
    -webkit-transform: rotate(90deg) translate(0, 0);
            transform: rotate(90deg) translate(0, 0);
  }
  100% {
    -webkit-transform: rotate(90deg) translate(40px, 0);
            transform: rotate(90deg) translate(40px, 0);
  }
}

@-webkit-keyframes drop2 {
  0% {
    -webkit-transform: rotate(90deg) translate(0, 0);
            transform: rotate(90deg) translate(0, 0);
  }
  100% {
    -webkit-transform: rotate(90deg) translate(80px, 0);
            transform: rotate(90deg) translate(80px, 0);
  }
}

@keyframes drop2 {
  0% {
    -webkit-transform: rotate(90deg) translate(0, 0);
            transform: rotate(90deg) translate(0, 0);
  }
  100% {
    -webkit-transform: rotate(90deg) translate(80px, 0);
            transform: rotate(90deg) translate(80px, 0);
  }
}

@-webkit-keyframes drop3 {
  0% {
    -webkit-transform: rotate(90deg) translate(0, 0);
            transform: rotate(90deg) translate(0, 0);
  }
  100% {
    -webkit-transform: rotate(90deg) translate(120px, 0);
            transform: rotate(90deg) translate(120px, 0);
  }
}

@keyframes drop3 {
  0% {
    -webkit-transform: rotate(90deg) translate(0, 0);
            transform: rotate(90deg) translate(0, 0);
  }
  100% {
    -webkit-transform: rotate(90deg) translate(120px, 0);
            transform: rotate(90deg) translate(120px, 0);
  }
}

@media screen and (max-width: 768px) {
  .triangle-right {
    right: 8px;
  }
  .triangle-left {
    left: 8px;
  }
}

.home_about-me {
  width: 100%;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url("../assets/homePageCaseStudy/BackgroundImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home_about-me .home_about-me_container {
  width: 100%;
  margin: 42px 42px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home_about-me .home_about-me_container .home_about-me_top-container {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_title {
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 1px;
  font-size: 44px;
  color: #efe4d8;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_divider {
  margin: 0;
  width: 50%;
  border-top: 2px solid #efe4d8;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_text {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  margin: 40px 0;
  color: #efe4d8;
  opacity: 75%;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_social-container {
  width: 66%;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_social-container .home_about-me_left-container_social-icons {
  height: 24px;
  width: 24px;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_social-container .home_about-me_left-container_social-icons:hover {
  opacity: 50%;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_social-container .home_about-me_left-container_social-icons_email {
  height: 24px;
  width: 28px;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_social-container .home_about-me_left-container_social-icons_email:hover {
  opacity: 50%;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_right-container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_right-container .home_about-me_right_portrait-frame {
  position: absolute;
  width: 90%;
  height: 100%;
  right: 20px;
  bottom: -20px;
  background-color: #2e383f;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_right-container .home_about-me_right_portrait {
  background-image: url("../assets/homePageCaseStudy/me.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 90%;
  z-index: 1000;
}

.home_about-me .home_about-me_container .home_about-me_bottom-container {
  width: 95%;
  margin-top: 60px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_about-me .home_about-me_container .home_about-me_bottom-container .home_about-me_bottom-container_title {
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
  margin-top: 0;
  color: #efe4d8;
}

.home_about-me .home_about-me_container .home_about-me_bottom-container .home_about-me_bottom-container_text {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  color: #efe4d8;
  opacity: 75%;
}

.home_about-me .home_about-me_container .home_about-me_bottom_continue-reading-container {
  width: 100%;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home_about-me .home_about-me_container .home_about-me_bottom_continue-reading-container .home_about-me_bottom_continue-reading-text {
  width: 140px;
  margin: 12px 12px 0 0;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  color: #efe4d8;
  opacity: 75%;
  text-decoration: underline;
}

.home_about-me .home_about-me_container .home_about-me_bottom_continue-reading-container .home_about-me_bottom_continue-reading-text:hover {
  opacity: 50%;
}

@media screen and (max-width: 768px) {
  .home_about-me {
    height: 700px;
  }
  .home_about-me .home_about-me_container {
    margin: 24px 24px 0;
  }
  .home_about-me .home_about-me_container .home_about-me_top-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container {
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_title {
    text-align: center;
  }
  .home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_divider {
    margin: 0 auto;
  }
  .home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_social-container {
    width: 80%;
  }
  .home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_social-container a:last-child {
    display: none;
  }
  .home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_right-container {
    display: none;
  }
  .home_about-me .home_about-me_container .home_about-me_bottom-container {
    display: none;
  }
}

.case-study {
  height: 442px;
  width: 100%;
  position: relative;
}

.case-study .case-study_container {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.case-study .case-study_container .case-study_container-digiline-background {
  width: 62%;
  z-index: 1;
  position: absolute;
  bottom: 24px;
  left: 15%;
}

.case-study .case-study_container .case-study_container-howl-background {
  background-image: url("../assets/homePageCaseStudy/home&casestudypage@3x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: calc(100% + 84px);
  height: 100%;
  position: absolute;
  z-index: 1;
  left: -42px;
}

.case-study .case-study_container .case-study_container-goodapples-background {
  width: 20%;
  position: absolute;
  z-index: 1;
  bottom: 89px;
  left: 365px;
}

.case-study .case-study_container .case-study_container-1 {
  width: 40%;
  margin: 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
}

.case-study .case-study_container .case-study_container-1 .case-study_container-1_title {
  width: 50%;
}

.case-study .case-study_container .case-study_container-1 .case-study_container-1_description-container {
  width: 100%;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.case-study .case-study_container .case-study_container-1 .case-study_container-1_description-container .case-study_container-1_ui-designer {
  font-family: "Bebas Neue", cursive;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0;
  color: #efe4d8;
  opacity: 55%;
}

.case-study .case-study_container .case-study_container-1 .case-study_container-1_description-container .case-study_container-1_header {
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 1px;
  font-size: 30px;
  margin: 18px 0;
  color: #efe4d8;
}

.case-study .case-study_container .case-study_container-1 .case-study_container-1_description-container .case-study_container-1_description {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  margin: 0;
  color: #efe4d8;
}

.case-study .case-study_container .case-study_container-2 {
  width: 60%;
  margin: 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.case-study .case-study_container .case-study_container-2 .case-study_container-2_img {
  width: 95%;
}

@media screen and (max-width: 768px) {
  .case-study .case-study_container .case-study_container-goodapples-background {
    height: 30%;
    width: auto;
    left: auto;
    right: 0;
    bottom: 20%;
  }
  .case-study .case-study_container .case-study_container-digiline-background {
    width: 90%;
  }
  .case-study .case-study_container .case-study_container-1 {
    width: 80%;
  }
  .case-study .case-study_container .case-study_container-2 {
    width: 20%;
  }
  .case-study .case-study_container .case-study_container-2 .case-study_container-2_img {
    display: none;
  }
}

.email-form {
  width: 100%;
  height: 514px;
  background-color: #1b262f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.email-form .email-form_container {
  width: 100%;
  height: calc(100% - 64px);
  margin: 32px 42px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-form .email-form_container .email-form_container-title {
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 1px;
  font-size: 30px;
  color: #efe4d8;
  margin: 0;
}

.email-form .email-form_container .email-form_container-text {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  color: #efe4d8;
  margin: 12px 0;
}

.email-form .email-form_container .email-form_form {
  margin: 30px 0 0;
  width: 80%;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.email-form .email-form_container .email-form_form .email-form_form-container {
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.email-form .email-form_container .email-form_form .email-form_form-container .email-form_input {
  height: 35px;
  padding: 0 12px;
  border-radius: 6px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: rgba(27, 38, 47, 0.5);
  background-color: #efe4d8;
}

.email-form .email-form_container .email-form_form .email-form_form-container .email-form_message-input {
  height: 90px;
  padding: 12px 12px;
  border-radius: 6px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  resize: none;
  color: rgba(27, 38, 47, 0.5);
  background-color: #efe4d8;
}

@media screen and (max-width: 600px) {
  .email-form .email-form_container .email-form_container-title {
    font-size: 24px;
  }
}

footer {
  width: 100%;
  height: 150px;
  background-color: #efe4d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_container {
  height: 28px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer_container a {
  text-decoration: none;
}

footer .footer_container .footer_text {
  margin: 0;
  width: auto;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: #1b262f;
}

footer .footer_container .footer_links {
  margin: 0;
  width: auto;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: #1b262f;
}

footer .footer_container .footer_resume-link {
  margin: 0;
  width: auto;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: #1b262f;
  text-decoration: underline;
}

footer .footer_container .footer_links:hover,
footer .footer_container .footer_resume-link:hover {
  opacity: 75%;
}

footer .footer_container .footer_dot-container {
  width: 35px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_container .footer_dot-container .footer_dot {
  background-color: #1b262f;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  border: none;
}

@media screen and (max-width: 768px) {
  footer {
    display: none;
  }
}

.cs-general {
  width: 100%;
  height: 442px;
}

.cs-general .cs-general_container {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cs-general .cs-general_container .cs-general_container-top {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cs-general .cs-general_container .cs-general_container-top .cs-general_title-img {
  height: 120px;
}

.cs-general .cs-general_container .cs-general_container-bottom .cs-general_text-container {
  width: 63%;
}

.cs-general .cs-general_container .cs-general_container-bottom .cs-general_text-container .cs-general_text {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  margin: 24px 0 0 0;
  color: #efe4d8;
  opacity: 75%;
}

.about-me {
  width: 100%;
}

.about-me .about-me_container {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me .about-me_container .about-me_container-top {
  width: 100%;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me .about-me_container .about-me_container-top .about-me_title-img {
  height: 120px;
}

.about-me .about-me_main-container {
  height: 920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #efe4d8;
  position: relative;
}

.about-me .about-me_main-container .about-me_main-container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 560px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 100px 42px 0;
}

.about-me .about-me_main-container .about-me_main-container-top .about-me_main-container-top-left {
  height: 330px;
  width: 35%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about-me .about-me_main-container .about-me_main-container-top .about-me_main-container-top-left .about-me_main-container-top-left_portrait-frame {
  position: relative;
  width: 248px;
  background-color: #2e383f;
}

.about-me .about-me_main-container .about-me_main-container-top .about-me_main-container-top-left .about-me_main-container-top-left_portrait {
  position: absolute;
  height: 330px;
  width: 248px;
  z-index: 1000;
  left: 20px;
  bottom: 20px;
}

.about-me .about-me_main-container .about-me_main-container-top .about-me_main-container-top-right {
  width: 65%;
}

.about-me .about-me_main-container .about-me_main-container-top .about-me_main-container-top-right .about-me_main-container-top-right-text {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  margin: 0;
  color: #1b262f;
  opacity: 75%;
}

.about-me .about-me_main-container .about-me_main-container-top .about-me_main-container-top-right .bold {
  font-weight: 600;
}

.about-me .about-me_main-container .about-me_main-container-bottom {
  height: 172px;
  width: 800px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-me .about-me_main-container .about-me_main-container-bottom .about-me_main-container-bottom-img {
  width: 258px;
  height: 172px;
}

.digiline {
  width: 100%;
}

.digiline .digiline_container {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.digiline .digiline_container .digiline_container-top {
  width: 100%;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.digiline .digiline_container .digiline_container-top .digiline_title-img {
  height: 120px;
}

.digiline .digiline_desktops-container {
  width: 100%;
  height: 442px;
  position: relative;
  background-color: #2e383f;
}

.digiline .digiline_desktops-container .digiline_desktops-container_background-boxes-1 {
  width: 225px;
  position: absolute;
  z-index: 1;
  top: 12px;
}

.digiline .digiline_desktops-container .digiline_desktops-container_background-boxes-2 {
  width: 225px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 12px;
}

.digiline .digiline_desktops-container .digiline_desktops-inner-container {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.digiline .digiline_desktops-container .digiline_desktops-inner-container .digiline_desktops-container_laptop {
  width: 560px;
  position: absolute;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 48px;
}

.digiline .digiline_desktops-container .digiline_desktops-inner-container .digiline_desktops-inner-container_desktops {
  height: 240px;
  z-index: 2;
}

.digiline .digiline_competitive-analysis {
  width: 100%;
  height: 442px;
  background-color: #efe4d8;
}

.digiline .digiline_competitive-analysis .digiline_competitive-analysis_inner-container {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.digiline .digiline_competitive-analysis .digiline_competitive-analysis_inner-container .digiline_competitive-analysis_inner-container-text {
  margin: 0;
  position: absolute;
  font-family: "Jost", sans-serif;
  color: #1b262f;
  font-size: 14px;
  bottom: 8px;
  left: 0px;
}

.digiline .digiline_competitive-analysis .digiline_competitive-analysis_inner-container .digiline_competitive-analysis_inner-container_background-img {
  padding-top: 68px;
  width: 460px;
}

.digiline .digiline_competitive-analysis .digiline_competitive-analysis_inner-container .digiline_competitive-analysis_inner-container_front-img {
  width: 460px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 56px;
}

.digiline .digiline_design {
  width: 100%;
  height: 3900px;
  background-color: #1b262f;
}

.digiline .digiline_design .digiline_design-container {
  margin: 78px 42px 0;
}

.digiline .digiline_design .digiline_design-container .digiline_design_mood-board-container {
  height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.digiline .digiline_design .digiline_design-container .digiline_design_mood-board-container .digiline_design_mood-board-img {
  height: 323px;
}

.digiline .digiline_design .digiline_design-container .digiline_design_style-tile-container {
  height: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.digiline .digiline_design .digiline_design-container .digiline_design_style-tile-container .digiline_design_style-tile-img {
  height: 267px;
}

.digiline .digiline_design .digiline_design-container .digiline_design_high-fidelity-top-container {
  height: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.digiline .digiline_design .digiline_design-container .digiline_design_high-fidelity-top-container .digiline_design_high-fidelity-top-img {
  width: 254px;
}

.digiline .digiline_design .digiline_design-container .digiline_design_high-fidelity-top-container .digiline_design_high-fidelity-top-arrow {
  width: 35px;
}

.digiline .digiline_design .digiline_design-container .digiline_design_high-fidelity-top-container .digiline_design_high-fidelity-top-text {
  position: absolute;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  color: #efe4d8;
  margin: 0;
  bottom: 0;
  left: 0;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-container {
  width: 100%;
  margin: 24px 0 72px;
  height: 570px;
  position: relative;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-container .digiline_design_high-fidelity-bottom {
  height: 100%;
  margin: 0 42px;
  width: calc(100% - 84px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-container .digiline_design_high-fidelity-bottom .digiline_design_high-fidelity-bottom-left .digiline_design_high-fidelity-bottom-left-logo {
  padding-top: 102px;
  width: 312px;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-container .digiline_design_high-fidelity-bottom .digiline_design_high-fidelity-bottom-right {
  width: calc(100% - 312px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-container .digiline_design_high-fidelity-bottom .digiline_design_high-fidelity-bottom-right .digiline_design_high-fidelity-bottom-right-desktop {
  width: 572px;
  z-index: 5;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-container .digiline_design_high-fidelity-bottom .digiline_design_high-fidelity-bottom-laptop {
  position: absolute;
  width: 541px;
  bottom: 0;
  left: 51px;
  z-index: 6;
}

.digiline .digiline_design .digiline_design_high-fidelity-bottom-container .digiline_design_high-fidelity-bottom-container_background {
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
}

.digiline .digiline_design .digiline_design-systems {
  margin: 0 42px;
}

.digiline .digiline_design .digiline_design-systems .digiline_design-systems_example-container {
  height: 331px;
  width: 100%;
  margin: 0 0 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.digiline .digiline_design .digiline_design-systems .digiline_design-systems_example-container .digiline_design-systems_example-img {
  width: 428px;
}

.digiline .digiline_design .digiline_design-systems .digiline_design_prototype-button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.digiline .digiline_design .cs-bottom-navigation {
  margin: 62px 42px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.howl {
  width: 100%;
}

.howl .howl_container {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.howl .howl_container .howl_container-top {
  width: 100%;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.howl .howl_container .howl_container-top .howl_title-img {
  height: 120px;
}

.howl .howl_background-container {
  width: 100%;
  height: 442px;
  background-image: url("../assets/CS_howl/Rectangle@3x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.howl .howl_wireframe-competitive-analysis-container {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.howl .howl_wireframe-competitive-analysis-container .howl_wireframe-img {
  width: 100%;
}

.howl .howl_wireframe-competitive-analysis-container .howl_wireframe-text {
  margin-bottom: 36px;
  width: 100%;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  color: #efe4d8;
  opacity: 75%;
}

.howl .howl_design-container {
  margin: 0 42px;
}

.howl .howl_design-container .howl_design_logo-iterations-container {
  width: 100%;
  height: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.howl .howl_design-container .howl_design_logo-iterations-container .howl_design_logo-iterations-img {
  height: 100%;
}

.howl .howl_design-container .howl_logo-iteration-text {
  margin-bottom: 36px;
  width: 100%;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  color: #efe4d8;
  opacity: 75%;
}

.howl .howl_design-container .howl_logo-final-container {
  width: 100%;
  margin-bottom: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.howl .howl_design-container .howl_logo-final-container .howl_logo-final-inner-container {
  width: 580px;
}

.howl .howl_design-container .howl_logo-final-container .howl_logo-final-inner-container .howl_logo-final-inner-img {
  width: 100%;
  margin-top: 24px;
}

.howl .howl_design-container .howl_design_mood-boards-container {
  width: 100%;
  margin-bottom: 68px;
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.howl .howl_design-container .howl_design_mood-boards-container .howl_design_mood-board-img {
  height: 100%;
}

.howl .howl_design-container .howl_design_style-tiles-container {
  width: 100%;
  margin-bottom: 68px;
  height: 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.howl .howl_design-container .howl_design_style-tiles-container .howl_design_style-tiles-img {
  height: 100%;
}

.howl .howl_design-container .howl_design_high-fidelity-container {
  width: 100%;
  height: 569px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.howl .howl_design-container .howl_design_high-fidelity-container .howl_design_high-fidelity-img {
  height: 100%;
}

.howl .howl_design-container .howl_design_high-fidelity-text {
  margin-bottom: 36px;
  width: 100%;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  color: #efe4d8;
  opacity: 75%;
}

.howl .howl_final-mockups-container {
  height: 695px;
  width: 100%;
  margin-bottom: 68px;
  position: relative;
}

.howl .howl_final-mockups-container .howl_final-mockups_background-lines {
  width: 100%;
}

.howl .howl_final-mockups-container .howl_final-mockups_desktop {
  z-index: 1;
  position: absolute;
  width: 695px;
  top: 55px;
  right: 96px;
}

.howl .howl_final-mockups-container .howl_final-mockups_phone1 {
  z-index: 3;
  position: absolute;
  width: 195px;
  bottom: 36px;
  left: 59px;
}

.howl .howl_final-mockups-container .howl_final-mockups_phone2 {
  z-index: 2;
  position: absolute;
  width: 195px;
  bottom: 36px;
  left: 182px;
}

.howl .howl_final-mockups-container .how_final-mockups_text {
  position: absolute;
  width: 350px;
  bottom: 6px;
  left: 74px;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  color: #efe4d8;
  opacity: 75%;
}

.howl .howl_design-systems-container {
  margin: 0 42px 68px;
}

.howl .howl_design-systems-container .howl_design-systems_colors-container {
  width: 100%;
  margin: 0 0 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.howl .howl_design-systems-container .howl_design-systems_colors-container .howl_design-systems_colors-img {
  width: 609px;
}

.howl .howl_design_prototype-button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.howl .cs-bottom-navigation {
  margin: 62px 42px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
/*# sourceMappingURL=styles.css.map */