@import './variables.scss';

// GLOBAL

body {
  margin: 12px;
}

header {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $darkBlue;


  .name-logo {
    width: 35%;
    padding: 12px;
    display: flex;
    flex-direction: row;

    .logo {
      height: 50px;
      width: auto;
      padding-right: 12px;
    }

    .name {
      letter-spacing: 1px;
      font-family: $bebasNeue;
      color: $cream;
    }
  }

  .navigation {
    width: 65%;
    padding: 12px;
    display: flex;
    flex-direction: row;

    .nav-link-container {
      width: 25%;
      text-align: center;

      .nav-links {
        letter-spacing: 1px;
        font-family: $bebasNeue;
        color: $cream;
      }
    }
  }

}

// HOME PAGE

.home_about-me {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-image: url("../assets/homePageCaseStudy/BackgroundImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .home_about-me_container {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: row;

    .home_about-me_left-container {
      width: 55%;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      .home_about-me_left-container_title {
        font-family: $archivoBlack;
        letter-spacing: 1px;
        font-size: 42px;
        color: $cream;
      }
  
      .home_about-me_left-container_text {
        font-family: $jost;
        color: $cream;
      }
    }
  
    .home_about-me_right-container {
      width: 45%;
      height: 600px;
      display: flex;
      justify-content: center;

      .home_about-me_right_portrait {
        height: 100%;
      }
    }
  }
}

// CS DIGILINE

// CS HOWL

// CS GOOD APPLES