@import './variables.scss';

// GLOBAL

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  background-color: $darkBlue;

  .page-container {
    max-width: 1024px;
  }
}

header {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $darkBlue;


  .name-logo {
    width: 35%;
    padding: 12px;
    display: flex;
    flex-direction: row;

    .logo {
      height: 50px;
      width: auto;
      padding-right: 12px;
    }

    .name {
      letter-spacing: 1px;
      font-family: $bebasNeue;
      color: $cream;
    }
  }

  .navigation {
    width: 65%;
    padding: 12px;
    display: flex;
    flex-direction: row;

    .nav-link-container {
      width: 25%;
      text-align: center;

      .nav-links {
        letter-spacing: 1px;
        font-family: $bebasNeue;
        color: $cream;
      }
    }
  }

}

.background-greyBlue {
  background-color: $greyBlue
}

.background-darkBlue {
  background-color: $darkBlue
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.align-items-flex-end {
  align-items: flex-end
}

.margin-top-bottom {
  margin: 36px 0;
}

// HOME PAGE

.home_about-me {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: row;
  background-image: url("../assets/homePageCaseStudy/BackgroundImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .home_about-me_container {
    width: 100%;
    margin: 42px 42px 0;
    display: flex;
    flex-direction: column;

    .home_about-me_top-container {
      width: 100%;
      display: flex;
      flex-direction: row;

      .home_about-me_left-container {
        width: 50%;
        height: 500px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    
        .home_about-me_left-container_title {
          font-family: $archivoBlack;
          letter-spacing: 1px;
          font-size: 40px;
          color: $cream;
        }
  
        .home_about-me_left-container_divider {
          margin: 0;
          width: 50%;
          border-top: 2px solid $cream;
        }
    
        .home_about-me_left-container_text {
          font-family: $jost;
          font-size: 18px;
          margin: 40px 0;
          color: $cream;
          opacity: 75%;
        }
  
        .home_about-me_left-container_social-container {
          width: 50%;
          height: 32px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
  
          .home_about-me_left-container_social-icons {
            height: 24px;
            width: 24px;
          }
  
          .home_about-me_left-container_social-icons_email {
            height: 24px;
            width: 28px;
          }
        }
      }
    
      .home_about-me_right-container {
        width: 50%;
        height: 500px;
        padding: 12px;
        display: flex;
        justify-content: center;
        
        .home_about-me_right_portrait-frame {
          position: relative;
          width: 398px;
          background-color: $greyBlue;
        }
  
        .home_about-me_right_portrait {
          position: absolute;
          height: 500px;
          width: 398px;
          z-index: 1000;
          left: 20px;
          bottom: 20px;
        }
      }
    }

    .home_about-me_bottom-container {
      width: 95%;
      margin-top: 60px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .home_about-me_bottom-container_title {
        font-family: $archivoBlack;
        letter-spacing: 1px;
        font-size: 40px;
        margin-top: 0;
        color: $cream;
      }

      .home_about-me_bottom-container_text {
        margin: 0;
        font-family: $jost;
        font-size: 21px;
        color: $cream;
        opacity: 75%;
      }
    }

    .home_about-me_bottom_continue-reading-container {
      width: 100%;
      height: 32px;
      text-align: right;

      .home_about-me_bottom_continue-reading-text {
        margin: 12px 12px 0 0;
        font-family: $jost;
        font-size: 21px;
        color: $cream;
        opacity: 75%;
        text-decoration: underline;
      }
    }
  }
}

// CS GLOBAL STYLES

.home_cs {
  height: 442px;
  width: 100%;

  .home_cs_container {
    height: 100%;
    margin: 0 42px;
    display: flex;
    flex-direction: row;
    position: relative;


    // Background img specs
    .home_cs_container-digiline-background {
      width: 637px;
      z-index: 1;
      position: absolute;
      bottom: 24px;
      left: 15%;
    }

    .home_cs_container-howl-background {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      left: -42px;
    }
    // end background img specs

    .home_cs_container-1 {
      width: 40%;
      margin: 36px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 1000;

      .home_cs_container-1_title {
        width: 50%;
      }

      .home_cs_container-1_description-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .home_cs_container-1_ui-designer {
          font-family: $bebasNeue;
          font-size: 14px;
          letter-spacing: 1px;
          margin: 0;
          color: $cream;
          opacity: 55%;
        }

        .home_cs_container-1_header {
          font-family: $archivoBlack;
          letter-spacing: 1px;
          font-size: 30px;
          margin: 18px 0;
          color: $cream;
        }

        .home_cs_container-1_description {
          font-family: $jost;
          font-size: 14px;
          margin: 0;
          color: $cream;
        }
      }

      .home_cs_container-1_button {
        height: 36px;
        width: 130px;
        border: 3px solid $cream;
        border-radius: 18px;
      }
    }

    .home_cs_container-2 {
      width: 60%;
      margin: 36px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;

      .home_cs_container-2_img {
        width: 541px;
        height: 316px;
      }
    }
  }
}













// CS HOWL

.home_cs-howl {
  height: 442px;
  width: 100%;
  background-color: $darkBlue;

  .home_cs-howl_container {
    height: 100%;
    margin: 0 42px;
    display: flex;
    flex-direction: row;
  }
}

// CS GOOD APPLES