body {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1b262f;
}

body .page-container {
  max-width: 1024px;
}

header {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #1b262f;
}

header .name-logo {
  width: 35%;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .name-logo .logo {
  height: 50px;
  width: auto;
  padding-right: 12px;
}

header .name-logo .name {
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  color: #efe4d8;
}

header .navigation {
  width: 65%;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .navigation .nav-link-container {
  width: 25%;
  text-align: center;
}

header .navigation .nav-link-container .nav-links {
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  color: #efe4d8;
}

.background-greyBlue {
  background-color: #2e383f;
}

.background-darkBlue {
  background-color: #1b262f;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.align-items-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.margin-top-bottom {
  margin: 36px 0;
}

.home_about-me {
  width: 100%;
  height: 130vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url("../assets/homePageCaseStudy/BackgroundImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home_about-me .home_about-me_container {
  width: 100%;
  margin: 42px 42px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home_about-me .home_about-me_container .home_about-me_top-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container {
  width: 50%;
  height: 500px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_title {
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
  color: #efe4d8;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_divider {
  margin: 0;
  width: 50%;
  border-top: 2px solid #efe4d8;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_text {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  margin: 40px 0;
  color: #efe4d8;
  opacity: 75%;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_social-container {
  width: 50%;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_social-container .home_about-me_left-container_social-icons {
  height: 24px;
  width: 24px;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_social-container .home_about-me_left-container_social-icons_email {
  height: 24px;
  width: 28px;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_right-container {
  width: 50%;
  height: 500px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_right-container .home_about-me_right_portrait-frame {
  position: relative;
  width: 398px;
  background-color: #2e383f;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_right-container .home_about-me_right_portrait {
  position: absolute;
  height: 500px;
  width: 398px;
  z-index: 1000;
  left: 20px;
  bottom: 20px;
}

.home_about-me .home_about-me_container .home_about-me_bottom-container {
  width: 95%;
  margin-top: 60px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_about-me .home_about-me_container .home_about-me_bottom-container .home_about-me_bottom-container_title {
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
  margin-top: 0;
  color: #efe4d8;
}

.home_about-me .home_about-me_container .home_about-me_bottom-container .home_about-me_bottom-container_text {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: 21px;
  color: #efe4d8;
  opacity: 75%;
}

.home_about-me .home_about-me_container .home_about-me_bottom_continue-reading-container {
  width: 100%;
  height: 32px;
  text-align: right;
}

.home_about-me .home_about-me_container .home_about-me_bottom_continue-reading-container .home_about-me_bottom_continue-reading-text {
  margin: 12px 12px 0 0;
  font-family: "Jost", sans-serif;
  font-size: 21px;
  color: #efe4d8;
  opacity: 75%;
  text-decoration: underline;
}

.home_cs {
  height: 442px;
  width: 100%;
}

.home_cs .home_cs_container {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.home_cs .home_cs_container .home_cs_container-digiline-background {
  width: 637px;
  z-index: 1;
  position: absolute;
  bottom: 24px;
  left: 15%;
}

.home_cs .home_cs_container .home_cs_container-howl-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: -42px;
}

.home_cs .home_cs_container .home_cs_container-1 {
  width: 40%;
  margin: 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
}

.home_cs .home_cs_container .home_cs_container-1 .home_cs_container-1_title {
  width: 50%;
}

.home_cs .home_cs_container .home_cs_container-1 .home_cs_container-1_description-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_cs .home_cs_container .home_cs_container-1 .home_cs_container-1_description-container .home_cs_container-1_ui-designer {
  font-family: "Bebas Neue", cursive;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0;
  color: #efe4d8;
  opacity: 55%;
}

.home_cs .home_cs_container .home_cs_container-1 .home_cs_container-1_description-container .home_cs_container-1_header {
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 1px;
  font-size: 30px;
  margin: 18px 0;
  color: #efe4d8;
}

.home_cs .home_cs_container .home_cs_container-1 .home_cs_container-1_description-container .home_cs_container-1_description {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  margin: 0;
  color: #efe4d8;
}

.home_cs .home_cs_container .home_cs_container-1 .home_cs_container-1_button {
  height: 36px;
  width: 130px;
  border: 3px solid #efe4d8;
  border-radius: 18px;
}

.home_cs .home_cs_container .home_cs_container-2 {
  width: 60%;
  margin: 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.home_cs .home_cs_container .home_cs_container-2 .home_cs_container-2_img {
  width: 541px;
  height: 316px;
}

.home_cs-howl {
  height: 442px;
  width: 100%;
  background-color: #1b262f;
}

.home_cs-howl .home_cs-howl_container {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=styles.css.map */