body {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1b262f;
}

body .page-container {
  max-width: 1024px;
}

header {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #1b262f;
}

header .name-logo {
  width: 35%;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .name-logo .logo {
  height: 50px;
  width: auto;
  padding-right: 12px;
}

header .name-logo .name {
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  color: #efe4d8;
}

header .navigation {
  width: 65%;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .navigation .nav-link-container {
  width: 25%;
  text-align: center;
}

header .navigation .nav-link-container .nav-link {
  text-decoration: none;
}

header .navigation .nav-link-container .nav-link .nav-link-text {
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  color: #efe4d8;
  cursor: pointer;
}

header .navigation .nav-link-container .nav-link .nav-link-text:hover {
  opacity: 50%;
}

.custom-button {
  height: 36px;
  width: 128px;
  border: 2px solid #efe4d8;
  border-radius: 16px;
  color: #efe4d8;
  background-color: rgba(239, 228, 216, 0);
  font-family: "Bebas Neue", cursive;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}

.custom-button .custom-button-text {
  display: block;
  margin-top: 4px;
}

.custom-button:hover {
  background-color: #efe4d8;
  color: #1b262f;
}

.custom-button:focus {
  outline: none;
}

.background-greyBlue {
  background-color: #2e383f;
}

.background-darkBlue {
  background-color: #1b262f;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.align-items-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.margin-top-bottom {
  margin: 36px 0;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.row-full {
  width: 100vw;
}

.home_about-me {
  width: 100%;
  height: 130vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url("../assets/homePageCaseStudy/BackgroundImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home_about-me .home_about-me_container {
  width: 100%;
  margin: 42px 42px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home_about-me .home_about-me_container .home_about-me_top-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container {
  width: 50%;
  height: 500px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_title {
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
  color: #efe4d8;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_divider {
  margin: 0;
  width: 50%;
  border-top: 2px solid #efe4d8;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_text {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  margin: 40px 0;
  color: #efe4d8;
  opacity: 75%;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_social-container {
  width: 50%;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_social-container .home_about-me_left-container_social-icons {
  height: 24px;
  width: 24px;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_social-container .home_about-me_left-container_social-icons:hover {
  opacity: 50%;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_social-container .home_about-me_left-container_social-icons_email {
  height: 24px;
  width: 28px;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_left-container .home_about-me_left-container_social-container .home_about-me_left-container_social-icons_email:hover {
  opacity: 50%;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_right-container {
  width: 50%;
  height: 500px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_right-container .home_about-me_right_portrait-frame {
  position: relative;
  width: 398px;
  background-color: #2e383f;
}

.home_about-me .home_about-me_container .home_about-me_top-container .home_about-me_right-container .home_about-me_right_portrait {
  position: absolute;
  height: 500px;
  width: 398px;
  z-index: 1000;
  left: 20px;
  bottom: 20px;
}

.home_about-me .home_about-me_container .home_about-me_bottom-container {
  width: 95%;
  margin-top: 60px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_about-me .home_about-me_container .home_about-me_bottom-container .home_about-me_bottom-container_title {
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
  margin-top: 0;
  color: #efe4d8;
}

.home_about-me .home_about-me_container .home_about-me_bottom-container .home_about-me_bottom-container_text {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: 21px;
  color: #efe4d8;
  opacity: 75%;
}

.home_about-me .home_about-me_container .home_about-me_bottom_continue-reading-container {
  width: 100%;
  height: 32px;
  text-align: right;
}

.home_about-me .home_about-me_container .home_about-me_bottom_continue-reading-container .home_about-me_bottom_continue-reading-text {
  margin: 12px 12px 0 0;
  font-family: "Jost", sans-serif;
  font-size: 21px;
  color: #efe4d8;
  opacity: 75%;
  text-decoration: underline;
}

.case-study {
  height: 442px;
  width: 100%;
}

.case-study .case-study_container {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.case-study .case-study_container .case-study_container-digiline-background {
  width: 637px;
  z-index: 1;
  position: absolute;
  bottom: 24px;
  left: 15%;
}

.case-study .case-study_container .case-study_container-howl-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: -42px;
}

.case-study .case-study_container .case-study_container-goodapples-background {
  width: 193px;
  height: 207px;
  position: absolute;
  z-index: 1;
  bottom: 89px;
  left: 365px;
}

.case-study .case-study_container .case-study_container-1 {
  width: 40%;
  margin: 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
}

.case-study .case-study_container .case-study_container-1 .case-study_container-1_title {
  width: 50%;
}

.case-study .case-study_container .case-study_container-1 .case-study_container-1_description-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.case-study .case-study_container .case-study_container-1 .case-study_container-1_description-container .case-study_container-1_ui-designer {
  font-family: "Bebas Neue", cursive;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0;
  color: #efe4d8;
  opacity: 55%;
}

.case-study .case-study_container .case-study_container-1 .case-study_container-1_description-container .case-study_container-1_header {
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 1px;
  font-size: 30px;
  margin: 18px 0;
  color: #efe4d8;
}

.case-study .case-study_container .case-study_container-1 .case-study_container-1_description-container .case-study_container-1_description {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  margin: 0;
  color: #efe4d8;
}

.case-study .case-study_container .case-study_container-2 {
  width: 60%;
  margin: 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.case-study .case-study_container .case-study_container-2 .case-study_container-2_img {
  width: 541px;
  height: 316px;
}

.email-form {
  width: 100%;
  height: 514px;
  background-color: #1b262f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-form .email-form_container {
  width: 80%;
  height: calc(100% - 64px);
  margin: 32px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-form .email-form_container .email-form_container-title {
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 1px;
  font-size: 30px;
  color: #efe4d8;
  margin: 0;
}

.email-form .email-form_container .email-form_container-text {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  color: #efe4d8;
  margin: 12px 0;
}

.email-form .email-form_container .email-form_form {
  margin: 30px 0 0;
  width: 80%;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.email-form .email-form_container .email-form_form .email-form_form-container {
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.email-form .email-form_container .email-form_form .email-form_form-container .email-form_input {
  height: 35px;
  padding: 0 12px;
  border-radius: 6px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: rgba(27, 38, 47, 0.5);
  background-color: #efe4d8;
}

.email-form .email-form_container .email-form_form .email-form_form-container .email-form_message-input {
  height: 90px;
  padding: 12px 12px;
  border-radius: 6px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  resize: none;
  color: rgba(27, 38, 47, 0.5);
  background-color: #efe4d8;
}

footer {
  width: 100%;
  height: 130px;
  background-color: #efe4d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_container {
  height: auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer_container .footer_links {
  margin: 0;
  width: auto;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: #1b262f;
}

footer .footer_container .footer_dot-container {
  width: 35px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_container .footer_dot-container .footer_dot {
  background-color: #1b262f;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  border: none;
}

.cs-general {
  width: 100%;
  height: 442px;
}

.cs-general .cs-general_container {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cs-general .cs-general_container .cs-general_container-top {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cs-general .cs-general_container .cs-general_container-top .cs-general_title-img {
  width: 696px;
}

.cs-general .cs-general_container .cs-general_container-bottom .cs-general_text-container {
  width: 63%;
}

.cs-general .cs-general_container .cs-general_container-bottom .cs-general_text-container .cs-general_text {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  margin: 24px 0 0 0;
  color: #efe4d8;
  opacity: 75%;
}

.about-me {
  width: 100%;
}

.about-me .about-me_container {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me .about-me_container .about-me_container-top {
  width: 100%;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me .about-me_container .about-me_container-top .about-me_title-img {
  width: 503px;
}

.about-me .about-me_main-container {
  height: 957px;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #efe4d8;
}

.about-me .about-me_main-container .about-me_main-container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 560px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 100px 42px 0;
}

.about-me .about-me_main-container .about-me_main-container-top .about-me_main-container-top-left {
  height: 330px;
  width: 35%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about-me .about-me_main-container .about-me_main-container-top .about-me_main-container-top-left .about-me_main-container-top-left_portrait-frame {
  position: relative;
  width: 248px;
  background-color: #2e383f;
}

.about-me .about-me_main-container .about-me_main-container-top .about-me_main-container-top-left .about-me_main-container-top-left_portrait {
  position: absolute;
  height: 330px;
  width: 248px;
  z-index: 1000;
  left: 20px;
  bottom: 20px;
}

.about-me .about-me_main-container .about-me_main-container-top .about-me_main-container-top-right {
  width: 65%;
}

.about-me .about-me_main-container .about-me_main-container-top .about-me_main-container-top-right .about-me_main-container-top-right-text {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  margin: 0;
  color: #1b262f;
  opacity: 75%;
}

.about-me .about-me_main-container .about-me_main-container-top .about-me_main-container-top-right .bold {
  font-weight: bold;
}

.about-me .about-me_main-container .about-me_main-container-bottom {
  height: 172px;
  width: 800px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-me .about-me_main-container .about-me_main-container-bottom .about-me_main-container-bottom-img {
  width: 258px;
  height: 172px;
}
/*# sourceMappingURL=styles.css.map */